/* .container {
  width: min(1200px, 95%) !important;
  max-width: none;
  margin-right: auto;
  padding: 0;
} */

body {
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
  line-height: normal;
  direction: rtl;
  font-size: 20px;
  text-align: right;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--seconedary-color);
}

figure {
  overflow: hidden;
  border-radius: 5px;
}

figure img {
  max-width: 100%;
  display: block;
}

.button {
  background: linear-gradient(180deg, #6c757d, #4d5154);
  border: none;
  border-radius: 5px;
  color: #ebe6e3;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 700;
}

.button:hover {
  background: #6c757d;
  background: linear-gradient(0deg, #6c757d, #343a40);
}

.img-cover {
  object-fit: cover;
}

.social-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 35px;
}

.social-list a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  color: #aaacb5;
  background-color: #454851;
  transition: 0.3s ease;
}

.social-list a:hover {
  background-color: #5c606d;
}

.site-header {
  position: relative;
  z-index: 99;
  background-color: #292C35;
  padding-block: 10px;
}

@media (min-width: 992px) {
  .site-header {
    height: 125px;
    padding-block: 0;
  }
}

.site-header .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.site-header .flex-container .social-list {
  flex: 1;
  justify-content: flex-end;
}

@media (max-width: 991.98px) {
  .site-header .flex-container .social-list {
    display: none;
  }
}

.site-header .flex-container .social-list li {
  opacity: 0;
  transition: opacity 1s var(--delay);
}

.site-header .flex-container .social-list li[data-scroll=in] {
  opacity: 1;
}

.site-header .flex-container .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5px;
  color: #949598;
  font-size: 16px;
  margin-top: 30px;


}

.phone {
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .site-header .flex-container .contact-info {
    order: 1;
    margin-top: 5px;
    gap: 0px;

  }
}

@media (min-width: 992px) {
  .site-header .flex-container .contact-info {
    flex: 1;
  }

  .site-header .flex-container .contact-info a:hover {
    color: #aaacb5;
  }
}

.site-header .flex-container .contact-info li {
  opacity: 0;
  transition: opacity 1s var(--delay);
}

.site-header .flex-container .contact-info li[data-scroll=in] {
  opacity: 1;
}

.site-header .flex-container .site-logo {
  position: relative;
}

@media (min-width: 992px) {
  .site-header .flex-container .site-logo {
    top: 15px;
  }
}

.site-header .flex-container .site-logo img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 120px;
}

@media (min-width: 992px) {
  .site-header .flex-container .site-logo img {
    width: 180px;
    flex: 1;
  }
}

.site-header .flex-container .site-logo:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60px;
  inset-inline: 0;
  width: 100%;
  height: 100%;
  background-color: #292C35;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

@media (max-width: 991.98px) {
  .site-header .flex-container .site-logo:after {
    display: none;
  }
}

.field {
  margin-bottom: 10px;
}

.field label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.field input:not([type=submit]),
.field select,
.field textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid #bdbfc6;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  color: inherit;
  font-family: inherit;
}

.field input:not([type=submit]):active, .field input:not([type=submit]):focus,
.field select:active,
.field select:focus,
.field textarea:active,
.field textarea:focus {
  border-color: #818491;
}

.field input[type=submit] {
  width: 100%;
  border: none;
  font-weight: 700;
  margin-top: 1rem;
  direction: rtl;
}

.hero {
  position: relative;
  min-height: 100vh;
  padding-block: 5rem;
}

.hero .bg-image {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 50%;
  height: 100%;
  background-image: url("../images/15.jpg");
  background-size: cover;
  background-position: left center;
  z-index: -1;
  transform: translateY(-4rem);
  opacity: 0;
  transition: transform 1s 0.1s, opacity 0.5s;
}

.hero .bg-image[data-scroll=in] {
  transform: none;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .hero .bg-image {
    width: 100%;
    background-position: center;
  }
}

.hero .bg-color {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  width: 50%;
  height: 100%;
  background-color: #e1e1e4;
  z-index: -1;
  transform: translateY(-4rem);
  opacity: 0;
  transition: transform 1s 0.1s, opacity 0.5s;
}

.hero .bg-color[data-scroll=in] {
  transform: none;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .hero .bg-color {
    display: none;
  }
}

.hero .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero .flex-container .hero-content,
.hero .flex-container .request-form {
  width: 45%;
  padding: 2rem;
  border-radius: 5px;
}

@media (max-width: 991.98px) {

  .hero .flex-container .hero-content,
  .hero .flex-container .request-form {
    width: 100%;
  }
}

.hero .flex-container .hero-content .title,
.hero .flex-container .request-form .title {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 200;
}

.hero .flex-container .hero-content {
  background-color: rgba(41, 44, 53, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 2s, transform 1s;
}

.hero .flex-container .hero-content[data-scroll=in] {
  transform: none;
  opacity: 1;
}

.hero .flex-container .hero-content h2 {
  color: #fcfcfc;
}

.hero .flex-container .hero-content p {
  color: #bdbfc6;
}

.hero .flex-container .request-form {
  background-color: #e1e1e4;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 2s 0.3s, transform 1s 0.3s;
}

.hero .flex-container .request-form[data-scroll=in] {
  transform: none;
  opacity: 1;
}

.hero .flex-container .request-form h2 {
  color: #292C35;
}

.hero .flex-container .request-form p {
  color: #686b77;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.fullwidth-block {
  padding-block: 3rem;
}

.fullwidth-block[bg-dark] {
  background-color: #292C35;
}

.fullwidth-block[bg-dark] .section-title {
  color: #aaacb5;
}

.fullwidth-block[bg-dark] .section-desc {
  color: #949598;
}

.fullwidth-block header {
  text-align: center;
  margin-bottom: 4rem;
}

.fullwidth-block header .section-title {
  position: relative;
  text-transform: uppercase;
  color: #50525c;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
  font-weight: 200;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 1s, transform 1s;
}

@media (max-width: 575px) {
  .fullwidth-block header .section-title {
    font-size: 1.5rem;
  }
}

.fullwidth-block header .section-title[data-scroll=in] {
  opacity: 1;
  transform: none;
}

.fullwidth-block header .section-title:after {
  content: " ";
  width: 70px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.fullwidth-block header .section-desc {
  width: 100%;
  max-width: 500px;
  margin: auto;
  font-size: 1.1rem;
  color: #686b77;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 1s 0.1s, transform 1s 0.1s;
}

.fullwidth-block header .section-desc[data-scroll=in] {
  opacity: 1;
  transform: none;
}

ul.facilities-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.2rem;
}

@media (max-width: 767px) {
  ul.facilities-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
}

ul.facilities-list li {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  font-size: 1rem;
  color: #aaacb5;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  transform: scale(1.5);
  transition: transform 1s, -webkit-clip-path 1s;
  transition: clip-path 1s, transform 1s;
  transition: clip-path 1s, transform 1s, -webkit-clip-path 1s;
}

@media (max-width: 767px) {
  ul.facilities-list li {
    font-size: 12px;
  }
}

ul.facilities-list li[data-scroll=in] {
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  transform: none;
}

ul.facilities-list li img {
  flex-shrink: 0;
  width: 40px;
}

@media (max-width: 767px) {
  ul.facilities-list li img {
    width: 20px;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1px;
}

@media (max-width: 575px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
  }
}

@media (max-width: 300px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.gallery-grid .block {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
  transform: scale(0);
  transition: transform 0.5s;
}

.gallery-grid .block[data-scroll=in] {
  transform: none;
}

@media (min-width: 768px) {

  .gallery-grid .block:hover .block__text::after, .gallery-grid .block:hover .block__text::before,
  .gallery-grid .block:hover .block__text span {
    transform: none;
    opacity: 1;
  }
}

.gallery-grid .block::after {
  content: "";
  position: absolute;
  inset: 1rem;
  background-color: rgba(41, 44, 53, 0.2);
  pointer-events: none;
}

.gallery-grid .block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.media-holder {
  position: relative;
  width: 100%;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 350px;
  overflow: hidden;
}

.media-holder iframe {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  border: 0 !important;
}

.ul-style {
  list-style: outside;
  padding: 20px;
}

.site-footer {
  background-color: #292C35;
  color: #949598;
  font-size: 18px;
}

.site-footer .widget {
  height: 100%;
  padding: 2rem;
}

@media (min-width: 992px) {
  .site-footer .widget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    padding: 3rem;
  }
}

.site-footer .widget.logo-widget {
  background-color: #22252c;
}

@media (min-width: 992px) {
  .site-footer .widget.logo-widget {
    position: relative;
  }

  .site-footer .widget.logo-widget::after {
    content: "";
    position: absolute;
    top: 50%;
    inset-inline-end: -20px;
    transform: translateY(-50%) rotate(45deg);
    width: 40px;
    height: 40px;
    background-color: inherit;
  }
}

.site-footer .widget.back-top-widget {
  background: #22252c;
}

.site-footer .widget.back-top-widget button#goTop {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.site-footer .widget.back-top-widget button#goTop .arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #674964;
}

.site-footer .widget.back-top-widget button#goTop .arrow svg {
  flex-shrink: 0;
}

.site-footer .widget.back-top-widget button#goTop span {
  display: block;
}

.site-footer .widget.back-top-widget button#goTop span.text {
  margin-top: 10px;
}

.site-footer .widget-title {
  font-weight: 200;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.site-footer .footer-logo {
  width: 100px;
}

.site-footer .footer-logo img {
  width: 100%;
  width: 180px;
}

.site-footer .contact-widget li a {
  display: block;
}

.site-footer .contact-widget li a:hover {
  color: #aaacb5;
}

.site-footer .Copyright {
  background-color: #343843;
  text-align: center;
}

.site-footer .Copyright p {
  color: #a4a9b9;
  padding: 1rem;
  font-weight: 300;
}

.site-footer .Copyright p a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #03a4df;
}

.site-footer .Copyright p a:hover {
  color: #0391c6;
}

/*# sourceMappingURL=style.css.map */